<template>

  <div class="game-page">

    ${gameViewModel?.game ? $h`

      <div class="game-banner">

        <div class="game-result">

          <div class="team away ${gameViewModel.score.away > gameViewModel.score.home ? "winner" : ""}">
            <div class="team-name">${gameViewModel.game.away.name ?? gameViewModel.game.away.abbrev}</div>
            <div class="score">${gameViewModel.score.away}</div>
          </div>

          <div class="team home ${gameViewModel.score.home > gameViewModel.score.away ? "winner" : ""}">
            <div class="team-name">${gameViewModel.game.home.name ?? gameViewModel.game.home.abbrev}</div>
            <div class="score">${gameViewModel.score.home}</div>
          </div>

        </div>

        <div class="linescore-wrapper">
          <${LineScore} vm=${gameViewModel.linescore} />
        </div>

      </div>


      <div class="grid grid-cols-1 large-grid-cols-2">

        <${Boxscore}
          substitutions=${gameViewModel.game.substitutions ?? []}
          vm=${gameViewModel.awayBoxscore}
          boxscoreservice=${boxscoreService}
          getplayerimageurl=${getPlayerImageUrl}
          getplayerhref=${getPlayerHref}
        />

        <${Boxscore}
          substitutions=${gameViewModel.game.substitutions ?? []}
          vm=${gameViewModel.homeBoxscore}
          boxscoreservice=${boxscoreService}
          getplayerimageurl=${getPlayerImageUrl}
          getplayerhref=${getPlayerHref}
        />

      </div>


      <div class="block game-result-summary">

        ${gameViewModel.winningPitcher ? $h`
          <div>
            <strong>Winning Pitcher:</strong>
            ${getPlayerLink(gameViewModel.winningPitcher)}
            <span class="small-gray">
              ${gameViewService.getPitcherGameStats(gameViewModel.winningPitcher)}
            </span>
          </div>
        ` : $h``}

        ${gameViewModel.losingPitcher ? $h`
          <div>
            <strong>Losing Pitcher:</strong>
            ${getPlayerLink(gameViewModel.losingPitcher)}
            <span class="small-gray">
              ${gameViewService.getPitcherGameStats(gameViewModel.losingPitcher)}
            </span>
          </div>
        ` : $h``}

      </div>


      ${getGameLogHref ? $h`
        <div class="block">
          <a href="${getGameLogHref(gameViewModel.game)}" class="button button-fill">
            Game Log
          </a>
        </div>
      ` : $h``}

    ` : $h`

      <div class="block">
        No game found.
      </div>

    `}

  </div>

</template>


<style>


</style>


<script>

import LineScore from "./linescore.f7.html"
import Boxscore from "./boxscore.f7.html"


export default (props, { $h }) => {

    let gameViewModel = props.gameviewmodel
    let gameViewService = props.gameviewservice
    let boxscoreService = props.boxscoreservice

    let getPlayerImageUrl = props.getplayerimageurl
    let getPlayerHref = props.getplayerhref
    let getGameLogHref = props.getgameloghref


    const getPlayerLink = (player) => {
        if (!getPlayerHref) {
            return player.fullName
        }

        return $h`
          <a href="${getPlayerHref(player)}">${player.fullName}</a>
        `
    }


    return $render

}
</script>