<template>

  <div class="game-log">

    <div class="list cards-list">

      <ul>

        ${playByPlay.filter(entry => entry.play?.result !== undefined).map(entry => $h`

          <li class="card recap card-header-divider card-outline">

            <div class="card-header">

              ${entry.play.inningTop ? "Top of" : "Bottom of"} ${gameViewService.getNumberWithOrdinal(entry.play.inningNum)} Inning

              <div class="diamond-wrapper">

                <div class="diamond">

                  <div class="first base ${entry.play.runner?.result?.end?.first ? "runner" : ""}"></div>

                  <div class="second base ${entry.play.runner?.result?.end?.second ? "runner" : ""}"></div>

                  <div class="third base ${entry.play.runner?.result?.end?.third ? "runner" : ""}"></div>

                </div>

              </div>

            </div>

            <div class="card-content card-content-padding play-description">

              <div class="chip result">

                <div class="chip-label">${entry.play.result}</div>

              </div>

              ${entry.descriptions.map(description => $h`

                <div class="message message-received ${description.type === "RESULT" ? "main" : ""}">

                  <div class="message-content">

                    ${description.meta?.pitch ? $h`

                      <div class="message-header">

                        ${description.type === "RESULT"
                          ? gameViewService.getInPlayHeader(description.meta.pitch)
                          : gameViewService.getPitchHeader(description.meta.pitch)}

                      </div>

                    ` : ` `}

                    <div class="message-bubble">

                      <div class="message-text">${description.text}</div>

                    </div>

                  </div>

                </div>

              `)}

              <div class="info-wrapper">

                <span class="label">Outs</span>

                ${gameViewService.getBalls(3, entry.play.count?.end?.outs ?? 0)}

              </div>

              ${entry.play.credits?.length > 0 ? $h`

                <div class="defense">

                  <strong>Defense</strong>

                  <ul>

                    ${entry.play.credits.map(credit => {

                      const player = gamePlayers[credit._id]

                      return $h`

                        <li>

                          ${player ? `${player.currentPosition} ${player.fullName}` : credit._id} - ${credit.type}

                        </li>

                      `

                    })}

                  </ul>

                </div>

              ` : ` `}

            </div>

          </li>

        `)}

      </ul>

    </div>

  </div>

</template>

<style>



</style>

<script>

export default props => {

    let playByPlay = props.playbyplay ?? []
    let gamePlayers = props.gameplayers ?? {}
    let gameViewService = props.gameviewservice

    return $render

}

</script>